html {
    scroll-behavior: smooth;
  }
#ez-table{
    position: -webkit-sticky;
    position: sticky;
    top: 15;
}

.ez-side-menu{
    background: #F4F8FF !important;
    padding: 10px;
}
#ez-side-menu ul{
    list-style: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

#ez-side-menu ul li a{
    font-size: 16px !important;
}

#ez-side-menu ul li:not(:last-child){
    margin-bottom: 8px !important;
}