html {
    scroll-behavior: smooth;
  }
#ez-table{
    position: -webkit-sticky;
    position: sticky;
    top: 15;
}


.ez-side-menu{
    background: #F4F8FF !important;
    padding: 16px 0px !important;
    border-radius: 8px !important;
    overflow-y: scroll;
    max-height: 600px;
}
#ez-side-menu ul{
    list-style: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

#ez-side-menu ul li a{
    font-size: 16px !important;
}

#ez-side-menu ul li:not(:last-child){
    margin-bottom: 8px !important;
}

#ex-title{
    font-weight: 700;
    margin-bottom: 8px !important;
    display: block;
}

.sub-tt{
    padding-left: 12px !important;
}
.ez-list.active{
    border-left: 4px solid #1068E9;
    padding-left: 12px !important;
    background: #DDEAFD;
    padding: 10px;
}
